* {
  margin: 0;
  padding: 0;
  font-family: DosisBold;
  color: white;
}
body {
  background-color: black;
}

.title h1 {
  text-align: center;
  font-family: DosisEBold;
  background: linear-gradient(#ffffff, #ffffff);
  color: #000000;
}

h3 {
  text-align: center;
}

.block {
  text-align: center;
  font-family: DosisBold;
  font-size: 30px;
  
  transition: padding 700ms;
}



.block1 {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  color: #000000;
}

.block2 {
  background: linear-gradient(#ffffff, rgb(255, 255, 255));
  color: #000000;
}

.block3 {
  background: linear-gradient(#ffffff, #000000);
}

.block4{
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

.block5{
  background: linear-gradient(rgb(0, 0, 0)rgb(0, 0, 0));
}
.footer {
  text-align: center;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.footer a {
  color: white;
  padding: 20px;
  transition: font-size 700ms;
}

.footer a:hover {
  font-size: 20px;
}

@media (min-width: 1200px){
  .title h1 {
    padding-top: 5%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .block {
    margin-left: 30px;
    margin-right: 30px;
    padding: 200px;
  }

  .block:hover {
    padding: 220px;
  }
  .footer {
    padding: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 320px) {
  .title h1 {
    padding-top: 5%;
    padding: 55px;
  }
  .block {
    padding: 55px;
  }  
  .footer {
    padding: 35px;
  }
}