* {
  margin: 0;
  padding: 0;
  font-family: DosisBold;
  color: white;
}
body {
  background-color: black;
}

.title h1 {
  text-align: center;
  font-family: DosisEBold;
  background: linear-gradient(#161032, #FF928B)
}

h3 {
  text-align: center;
}

.block {
  text-align: center;
  font-family: DosisBold;
  font-size: 30px;
  
  transition: padding 700ms;
}



.block1 {
  background: linear-gradient(#FF928B, #FFAC81);
}

.block2 {
  background: linear-gradient(#FFAC81, #DB2B39);
}

.block3 {
  background: linear-gradient(#DB2B39, #FCE67C);
}

.block4{
  background: linear-gradient(#FCE67C, #7768AE);
}

.block5{
  background: linear-gradient(#7768AE, #4D9DE0);
}
.footer {
  text-align: center;
  background: linear-gradient(#4D9DE0, #EF476F);
}
.footer a {
  color: white;
  padding: 20px;
  transition: font-size 700ms;
}

.footer a:hover {
  font-size: 20px;
}

@media (min-width: 1200px){
  .title h1 {
    padding-top: 5%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .block {
    margin-left: 30px;
    margin-right: 30px;
    padding: 200px;
  }

  .block:hover {
    padding: 220px;
  }
  .footer {
    padding: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 320px) {
  .title h1 {
    padding-top: 5%;
    padding: 55px;
  }
  .block {
    padding: 55px;
  }  
  .footer {
    padding: 35px;
  }
}