* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(#FFFFFF, #000000);
    height: 100vh;
}

.title h1 {
    text-align: center;
    font-family: DosisEBold;
    color: #000000;
}

input::-webkit-input-placeholder {
    color: rgb(73, 73, 73) !important;
    font-family: Dosis !important;
}

.form {
    background: #e2e2e2;
    width: auto;
}

#name {
    margin: 20px;
    padding: 8px;
    background: black;
    border: none;
    color: white;
}

#email {
    margin: 20px;
    padding: 8px;
    background: black;
    border: none;
    color: white;
}